---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <meta name="turbo-cache-control" content="no-cache" />
        <link rel="icon" type="image/ico" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <script>
            import '~/middleware/turbo-router';
            import '~/startup';
        </script>
    </head>
    <body>
        <div id="root" class="dark">
            <section class="navigation-bar-and-main-content">
                <main class="main-content">
                    <slot />
                </main>
            </section>
            <footer
                data-turbo-permanent
                id="footer"
                class="footer-player-footer"
            >
                <div class="footer-player-container"></div>
            </footer>
        </div>
    </body>
</html>

<style>
    body {
        font-family: Gordita, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
            'Helvetica Neue', sans-serif;
        width: 100%;
        overflow-x: hidden;
    }

    @media (prefers-color-scheme: dark) {
        html,
        body {
            background: #181a1b;
            color: white;
        }
    }

    html,
    body,
    #root,
    .navigation-bar-and-main-content,
    .main-content {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
</style>
